In [50]:
import pandas as pd

In [73]:
df=pd.read_excel("DATASET.xlsx")
df.head()

d:\College\SEM7\BIS\PROJECTS\Time Series\Time-Series-Prediction\env\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\College\SEM7\BIS\PROJECTS\Time Series\Time-Series-Prediction\env\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
0,Sec_1,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0,0.0,0.0,0,1.52
1,NaN,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0,3.4,0.0,0,1.62
2,NaN,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0,21.3,0.0,4,1.68
3,NaN,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0,21.3,0.0,5,1.78
4,NaN,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0,23.9,0.0,7,1.80

In [74]:
print(df.shape,len(df))
df=pd.concat([df.iloc[0:910],df.iloc[919:]])
print(df.shape,len(df))
df.to_excel("DATASET_new.xlsx",index=False)

(1009, 15) 1009
(1000, 15) 1000

In [75]:
test_df=[]
train_df=[]

for i in range(0,len(df),10):
    test_df.extend(df.values[i+9:i+10])
    train_df.extend(df.values[i:i+9])


test_df=pd.DataFrame(test_df,columns=df.columns)
train_df=pd.DataFrame(train_df,columns=df.columns)
print(train_df)
print(test_df)

    Unnamed: 0  year  Para-1  Para-2  Para-3  Para-4  Para-5  Para-6  Para-7  \
0        Sec_1     1   324.0   354.5    17.0     0.0       3     117    2600
1          NaN     2   324.0   161.1    18.2     0.0       4     106    5950
2          NaN     3   324.0   170.7    18.5     0.0       4     110    5950
3          NaN     4   324.0   223.9    18.9     0.0       3     110    6150
4          NaN     5   324.0   228.2    18.4     0.0       2     113    6340
..         ...   ...     ...     ...     ...     ...     ...     ...     ...
895        NaN     5   454.0  1126.6    14.4    28.8      16     116    3842
896        NaN     6   454.0   931.8    13.6   125.0      13     116    4150
897        NaN     7   454.0   703.0    14.5    17.0      13     118    4150
898        NaN     8   454.0  1124.1    14.9    45.0      18     117    4200
899        NaN     9   454.0  1462.3    13.2    62.0      27     117    4400

     Para-8  Para-9  Para-10  Para-11  Para-12  Para-13
0       400     0.0      0.0      0.0        0    1.520
1      1190     0.0      3.4      0.0        0    1.620
2      1190     0.0     21.3      0.0        4    1.680
3      1340     0.0     21.3      0.0        5    1.780
4      1450     0.0     23.9      0.0        7    1.800
..      ...     ...      ...      ...      ...      ...
895     730    19.0      0.0      0.0       15    1.654
896     830    15.1      1.8      1.0       15    1.681
897     830    24.6      7.9      2.0       15    1.838
898     840   119.0     15.7      2.0       16    1.862
899     720   138.2     30.5      6.0       18    1.883

[900 rows x 15 columns]
    Unnamed: 0  year  Para-1  Para-2  Para-3  Para-4  Para-5  Para-6  Para-7  \
0          NaN    10   324.0    53.6    19.0     0.0       2     105    7567
1          NaN    10   327.7    62.0    22.7     0.0       2     102   30525
2          NaN    10   487.7    93.2    22.5     0.0       4     110    2140
3          NaN    10   543.6    93.2    22.5     0.0       4     110    2140
4          NaN    10   434.4   149.0    11.7    72.0       3     110   13142
..         ...   ...     ...     ...     ...     ...     ...     ...     ...
95         NaN    10   514.0  1226.4    10.1   203.6      16     114    7672
96         NaN    10   901.0  1531.0    11.1    34.9      40     100   15150
97         NaN    10  1181.0  1364.9     9.2   274.3      24     112   12500
98         NaN    10   662.0  1110.7    12.8    33.2      27     117    3324
99         NaN    10   454.0   986.3    14.3    67.0      24     122    4415

    Para-8  Para-9  Para-10  Para-11  Para-12  Para-13
0     1885    16.8    105.0     65.0        9    1.960
1    10234    76.5     44.3      5.0        9    0.795
2     1270    78.5      0.0      0.0       16    1.432
3     1270    28.5     60.5     67.0       11    2.004
4     6225     0.0    276.2     34.0        6    1.792
..     ...     ...      ...      ...      ...      ...
95     303   219.7    206.2     10.0        8    1.607
96    1077     5.9     74.5     33.0       13    1.087
97     880   131.4     72.4     18.0       12    0.996
98    1356   193.7    305.6    180.0       12    2.212
99     721   293.0     39.8      7.0       18    1.889

[100 rows x 15 columns]

In [89]:
x=train_df[['Para-1','Para2','Para-3','Para-4','Para-5','Para-6','Para-7','Para-8']]
# y=train_df['Para-9','Para-10','Para-11','Para-12','Para-13']
print(x)

KeyError: 'year'